In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [37]:
df = pd.read_csv('data/archive/REMS_Mars_Dataset.csv', 
                 encoding='utf-8', 
                 comment='#',
                 sep=',')

df.columns

Index(['earth_date_time', 'mars_date_time', 'sol_number',
       'max_ground_temp(°C)', 'min_ground_temp(°C)', 'max_air_temp(°C)',
       'min_air_temp(°C)', 'mean_pressure(Pa)', 'wind_speed(m/h)',
       'humidity(%)', 'sunrise', 'sunset', 'UV_Radiation', 'weather'],
      dtype='object')

In [38]:
df = df.drop(columns=['wind_speed(m/h)', 'humidity(%)'])
df.columns

Index(['earth_date_time', 'mars_date_time', 'sol_number',
       'max_ground_temp(°C)', 'min_ground_temp(°C)', 'max_air_temp(°C)',
       'min_air_temp(°C)', 'mean_pressure(Pa)', 'sunrise', 'sunset',
       'UV_Radiation', 'weather'],
      dtype='object')

In [39]:
df.head(10)

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),sunrise,sunset,UV_Radiation,weather
0,"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,05:25,17:20,moderate,Sunny
1,"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,05:25,17:20,moderate,Sunny
2,"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,05:25,17:21,moderate,Sunny
3,"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,05:26,17:21,moderate,Sunny
4,"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,05:26,17:21,moderate,Sunny
5,"Earth, 2022-01-21 UTC","Mars, Month 6 - LS 161°",Sol 3363,-8,-71,8,-80,707,05:26,17:21,moderate,Sunny
6,"Earth, 2022-01-20 UTC","Mars, Month 6 - LS 160°",Sol 3362,-4,-72,5,-84,706,05:26,17:21,moderate,Sunny
7,"Earth, 2022-01-19 UTC","Mars, Month 6 - LS 160°",Sol 3361,-6,-70,5,-73,705,05:26,17:21,moderate,Sunny
8,"Earth, 2022-01-18 UTC","Mars, Month 6 - LS 159°",Sol 3360,-6,-71,3,-89,707,05:27,17:21,moderate,Sunny
9,"Earth, 2022-01-17 UTC","Mars, Month 6 - LS 158°",Sol 3359,-9,-71,5,-80,708,05:27,17:21,moderate,Sunny

In [40]:
df.iloc[::-1]

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),sunrise,sunset,UV_Radiation,weather
3196,"Earth, 2012-08-07 UTC","Mars, Month 6 - LS 150°",Sol 1,Value not available,Value not available,Value not available,Value not available,Value not available,05:30,17:22,NaN,Sunny
3195,"Earth, 2012-08-15 UTC","Mars, Month 6 - LS 155°",Sol 9,Value not available,Value not available,Value not available,Value not available,Value not available,05:28,17:22,NaN,Sunny
3194,"Earth, 2012-08-16 UTC","Mars, Month 6 - LS 155°",Sol 10,-16,-75,8,-83,739,05:28,17:22,very_high,Sunny
3193,"Earth, 2012-08-17 UTC","Mars, Month 6 - LS 156°",Sol 11,-11,-76,9,-83,740,05:28,17:21,very_high,Sunny
3192,"Earth, 2012-08-18 UTC","Mars, Month 6 - LS 156°",Sol 12,-18,-76,8,-82,741,05:28,17:21,very_high,Sunny
...,...,...,...,...,...,...,...,...,...,...,...,...
4,"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,05:26,17:21,moderate,Sunny
3,"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,05:26,17:21,moderate,Sunny
2,"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,05:25,17:21,moderate,Sunny
1,"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,05:25,17:20,moderate,Sunny
0,"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,05:25,17:20,moderate,Sunny

In [41]:
df = df.drop('weather', 1)
df['UV_Radiation'].unique()

array(['moderate', 'low', 'high', 'very_high', nan], dtype=object)

In [42]:
df = df.replace('Value not available', 'NaN')
df

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),sunrise,sunset,UV_Radiation
0,"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,05:25,17:20,moderate
1,"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,05:25,17:20,moderate
2,"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,05:25,17:21,moderate
3,"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,05:26,17:21,moderate
4,"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,05:26,17:21,moderate
...,...,...,...,...,...,...,...,...,...,...,...
3192,"Earth, 2012-08-18 UTC","Mars, Month 6 - LS 156°",Sol 12,-18,-76,8,-82,741,05:28,17:21,very_high
3193,"Earth, 2012-08-17 UTC","Mars, Month 6 - LS 156°",Sol 11,-11,-76,9,-83,740,05:28,17:21,very_high
3194,"Earth, 2012-08-16 UTC","Mars, Month 6 - LS 155°",Sol 10,-16,-75,8,-83,739,05:28,17:22,very_high
3195,"Earth, 2012-08-15 UTC","Mars, Month 6 - LS 155°",Sol 9,NaN,NaN,NaN,NaN,NaN,05:28,17:22,NaN
3196,"Earth, 2012-08-07 UTC","Mars, Month 6 - LS 150°",Sol 1,NaN,NaN,NaN,NaN,NaN,05:30,17:22,NaN

In [43]:
df['UV_Radiation'] = df['UV_Radiation'].replace(['low', 'moderate', 'high', 'very_high'], [0, 1, 2, 3])

In [44]:
df.head(10)

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),sunrise,sunset,UV_Radiation
0,"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",Sol 3368,-3,-71,10,-84,707,05:25,17:20,1.0
1,"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",Sol 3367,-3,-72,10,-87,707,05:25,17:20,1.0
2,"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",Sol 3366,-4,-70,8,-81,708,05:25,17:21,1.0
3,"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",Sol 3365,-6,-70,9,-91,707,05:26,17:21,1.0
4,"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",Sol 3364,-7,-71,8,-92,708,05:26,17:21,1.0
5,"Earth, 2022-01-21 UTC","Mars, Month 6 - LS 161°",Sol 3363,-8,-71,8,-80,707,05:26,17:21,1.0
6,"Earth, 2022-01-20 UTC","Mars, Month 6 - LS 160°",Sol 3362,-4,-72,5,-84,706,05:26,17:21,1.0
7,"Earth, 2022-01-19 UTC","Mars, Month 6 - LS 160°",Sol 3361,-6,-70,5,-73,705,05:26,17:21,1.0
8,"Earth, 2022-01-18 UTC","Mars, Month 6 - LS 159°",Sol 3360,-6,-71,3,-89,707,05:27,17:21,1.0
9,"Earth, 2022-01-17 UTC","Mars, Month 6 - LS 158°",Sol 3359,-9,-71,5,-80,708,05:27,17:21,1.0

In [45]:
df['sol_number'] = df['sol_number'].str.extract('(\d+)').astype(int)

In [46]:
df.head(5)

,earth_date_time,mars_date_time,sol_number,max_ground_temp(°C),min_ground_temp(°C),max_air_temp(°C),min_air_temp(°C),mean_pressure(Pa),sunrise,sunset,UV_Radiation
0,"Earth, 2022-01-26 UTC","Mars, Month 6 - LS 163°",3368,-3,-71,10,-84,707,05:25,17:20,1.0
1,"Earth, 2022-01-25 UTC","Mars, Month 6 - LS 163°",3367,-3,-72,10,-87,707,05:25,17:20,1.0
2,"Earth, 2022-01-24 UTC","Mars, Month 6 - LS 162°",3366,-4,-70,8,-81,708,05:25,17:21,1.0
3,"Earth, 2022-01-23 UTC","Mars, Month 6 - LS 162°",3365,-6,-70,9,-91,707,05:26,17:21,1.0
4,"Earth, 2022-01-22 UTC","Mars, Month 6 - LS 161°",3364,-7,-71,8,-92,708,05:26,17:21,1.0

In [35]:
pathdf = pd.read_csv('data/path.csv', 
                 encoding='utf-8', 
                 comment='#',
                 sep=',')

pathdf.columns

Index(['latitude', 'longitude', 'altitude', 'geometry', 'RMC', 'site', 'drive',
       'sol', 'easting', 'northing', 'elev_geoid', 'lon', 'lat', 'roll',
       'pitch', 'yaw', 'yaw_rad', 'tilt', 'dist_m', 'dist_total_m', 'dist_km',
       'dist_mi', 'drive_type'],
      dtype='object')

In [47]:
pathdf.head(5)

,latitude,longitude,altitude,geometry,RMC,site,drive,sol,easting,northing,...,roll,pitch,yaw,yaw_rad,tilt,dist_m,dist_total_m,dist_km,dist_mi,drive_type
0,-4.589467,137.441633,-4500.971,Point,2_0,2,0,3,8146811.223,-272039.268,...,-2.42,-3.62,111.52,1.94637,4.35,0.00,0.00,0.00,0.00,final
1,-4.589465,137.441734,-4501.120,Point,3_78,3,78,16,8146817.210,-272039.150,...,-1.33,5.41,-132.02,-2.30426,5.57,7.01,7.01,0.01,0.00,final
2,-4.589401,137.441686,-4501.386,Point,3_100,3,100,21,8146814.363,-272035.346,...,-2.91,4.66,-164.69,-2.87437,5.49,4.90,11.91,0.01,0.01,final
3,-4.589403,137.441893,-4502.364,Point,3_260,3,260,22,8146826.607,-272035.482,...,-1.28,-4.29,64.62,1.12778,4.48,15.14,27.04,0.03,0.02,final
4,-4.589447,137.442181,-4502.611,Point,3_372,3,372,24,8146843.725,-272038.080,...,-1.37,-1.65,116.50,2.03331,2.14,21.51,48.55,0.05,0.03,final